{% extends 'base.html' %}

{% block adminName %} 
    - Super Admin
{% endblock %}

{% block content %}
    {% if current_user %}
    
        <div class="stats d-flex gap-4 text-center align-items-stretch">

            <a href="{{ url_for('admin.userlist') }}">
                <div class="card p-3" style="width: 12rem;">Total Users
                    <span class="fs-3">
                        {% if users %}
                            {{ users }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </div> 
            </a>
        
            <a href="{{ url_for('admin.hotellist') }}">
                <div class="card p-3" style="width: 12rem;">Total Hotels
                    <span class="fs-3">
                        {% if hotels %}
                            {{ hotels }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </div> 
            </a>

            <a href="{{ url_for('admin.bookinglist') }}">
                <div class="card p-3" style="width: 12rem;">Total Active Bookings
                    <span class="fs-3">
                        {% if bookings %}
                            {{ bookings }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </div> 
            </a>

            <a href="{{ url_for('admin.bookinglist') }}">
                <div class="card p-3" style="width: 12rem;">Total Completed Bookings
                    <span class="fs-3">
                        {% if completedBooking %}
                            {{ completedBooking }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </div> 
            </a>

            <a href="{{ url_for('admin.bookinglist') }}">
                <div class="card p-3" style="width: 12rem;">Total Cancelled Bookings
                    <span class="fs-3">
                        {% if cancelBookings %}
                            {{ cancelBookings }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </div> 
            </a>
        
        </div>
    {% endif %}
{% endblock %}