{% extends 'base.html' %}

{% block adminName %} 
    - Super Admin
{% endblock %}

{% block content %}
    <h4 class="mb-3">Hotels</h4>

    {% if Hotels %}
        <div class="card shadow-sm p-0">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover align-middle mb-0">

                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Owner Name</th>
                                <th>Hotel Name</th>
                                <th>Hotel Type</th>
                                <th>Address</th>
                                <th>City</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for h in Hotels %}
                                <tr class="text-capitalize">
                                    <td>#{{ h.id }}</td>
                                    <td>{{ h.host.name }}</td>
                                    <td>{{ h.name }}</td>
                                    <td>{{ h.type }}</td>
                                    <td>{{ h.location }}</td>
                                    <td>{{ h.city }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    {% endif %}
    
{% endblock %}

{% block js %} 
    <script src="{{ url_for('admin.static', filename='script.js') }}"></script>
{% endblock %}


