{% extends 'base.html' %}

{% block adminName %}
    - {{ current_user.name }}
{% endblock %}

<!-- create card for listing rooms -->
{% block content %}
    {% if hotel %}
        {% for h in hotel %}
            <div class="mb-4 text-capitalize">
                <div class="d-flex justify-content-between mb-2"> 
                    <h4>{{ h.name }}</h4>
                    <a href="{{ url_for('room.add', hid=h.id) }}" class="btn btn-primary">+ Add New Room</a>
                </div>

                {% if h.rooms %}
                <div class="room-container">
                    {% for r in h.rooms %}

                        <div class="row mb-2" style="width: 100%;"></div>
                            <div class="card room-card-container d-flex flex-sm-column flex-lg-row">
                                <div class="col-sm-5 col-lg-4">
                                    <!-- card image -->
                                    <div id="carouselExampleIndicators" class="carousel slide">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        </div>
                                        <div class="carousel-inner">
                                            {% for i in r.images %}
                                                <div class="carousel-item active">
                                                    <img src="{{ url_for('static', filename='images/rooms/' + i.image) }}" class="d-block w-100" alt="room image">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="col-sm-7 col-lg-8">
                                <div class="card-body row flex-lg-row flex-sm-column p-0"> 
                                    <!-- card body -->
                                    <div class="col-9">
                                        <div class="row pt-2 ps-3">
                                            <h5 class="card-title">{{ r.category }}</h5>
                                            <div class="col-6">
                                                
                                                <p class="card-text">Bedrooms {{ r.bedrooms }} <br>
                                                    Beds: {{ r.beds }} <br>
                                                    Guest: {{ r.person_capacity }} <br>
                                                    Price per Night: {{ r.price_per_night }} <br>
                                                    Total Rooms: {{ r.no_rooms }} <br>
                                                </p>
                                            </div>

                                            <!-- room facility -->
                                            <div class="col-6">
                                                {% if r.facilities %}
                                                    <p class="card-text">Facilities:
                                                        <ul>
                                                            {% for f in r.facilities %}
                                                                <li>{{ f.facility.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3 pt-3">
                                        <!-- action button (edit / delete) -->
                                        <div class="action-button text-center d-flex flex-column justify-content-end">
                                            <a href="{{ url_for('room.edit', rid=r.id) }}" class="btn btn-warning mb-2" style="max-width: 150px;">Edit</a>
                                            <a href="{{ url_for('room.delete', rid=r.id) }}" class="btn btn-danger mb-2" style="max-width: 150px;">Delete</a>
                                        </div> 
                                    </div>
                                </div>
                                </div>
                            </div>
                        
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

