<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Flask Websocket chat</h2>
    <input type="text" id="msg" placeholder="enter your message">
    <button onclick="sendMessage()">Send</button>
    <div id="messages"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>

    <script>
        let socket = io();
        let username = prompt('enter your name : ')
        socket.emit('join', username)

        socket.on('message', function(data) {
            let messages = document.querySelector('#messages')
            messages.innerHTML += `<p>${data}</p>`
        });

        function sendMessage() {
            var msgInput = document.querySelector('#msg');
            var message = msgInput.value;
            socket.send(message);
            msgInput.value = '';
        }
    </script>
</body>
</html>