{% extends 'auth-base.html'%}

{% block title %} Reset Password {% endblock %}

{% block content %} 
    {% if resetForm %}
        {% set form = resetForm %}
        <form action="{{ url_for('auth.reset_password') }}" method="post">
            {{ form.hidden_tag() }}
            
            <div class="input-div form-group mb-3">
                {{ form.existing_pass.label }}
                {{ form.existing_pass(class_="form-control") }}
                {% for err in form.existing_pass.errors %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
            </div>

            <div class="input-div form-group mb-3">
                {{ form.new_pass.label }}
                {{ form.new_pass(class_="form-control") }}
                {% for err in form.new_pass.errors %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
            </div>
            
            <div class="input-div form-group mb-3">
                {{ form.confirm_pass.label }}
                {{ form.confirm_pass(class_="form-control") }}
                {% for err in form.confirm_pass.errors %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
            </div>

            <div class="submit-btn p-3">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
    {% endif %}

    {% if forgetForm %}
        {% set form = forgetForm %}
        <form action="{{ url_for('auth.reset_password') }}" method="post">
            {{ form.hidden_tag() }}

            <div class="input-div form-group mb-3">
                {{ form.new_pass.label }}
                {{ form.new_pass(class_="form-control") }}
                {% for err in form.new_pass.errors %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
            </div>
            
            <div class="input-div form-group mb-3">
                {{ form.confirm_pass.label }}
                {{ form.confirm_pass(class_="form-control") }}
                {% for err in form.confirm_pass.errors %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
            </div>

            <div class="submit-btn p-3">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
    {% endif %}
    
{% endblock %}